.post-container {
    display: flex;
    flex-direction: column; /* Cambiar disposición a columna */
    background-color: #f8f6f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Sección de la imagen */
.post-image {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    margin-bottom: 20px; /* Añadir espacio debajo de la imagen */
}

/* Ajustar la imagen */
.post-image img {
    
    width: 50%; /* Hacer que la imagen use todo el ancho de su contenedor */
    border-radius: 10px;
    object-fit: cover;
}

/* Controles debajo de la imagen */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Coincidir con el ancho de la imagen */
    max-width: 250px; /* Mismo ancho que la imagen */
    margin: 10px auto 0; /* Centrar y añadir margen superior */
    padding: 0 10px; /* Opcional: Espaciado interno */
}

.controls button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Detalles de la publicación */
.post-details {
    
    display: flex;
    flex-direction: column;
}

.post-info {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: right;
    gap: 10px;
}

.post-info .time, .post-info .likes {
    font-size: 14px;
    color: #555;
}

.save-button {
    padding: 8px 12px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #444;
}

/* Descripción */
.post-caption {
    font-size: 16px;
    margin: 10px 0;
}

/* Comentarios */
.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

/* Botón de Responder */
.respond-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-start;
}

.respond-button:hover {
    background-color: #444;
}
.post-icons{
    width: 20px;
    height: 20px;
}